<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
          <% data.forEach(el => { %>
            <div class="row">
                <div class="col-sm-6">
                  <div class="card text-center">
                    <div class="card-header">
                        Most Sko'd Movie
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"><%= el.movie_name %></h5>
                      <img src="<%= el.movie_image %>" class="card-img-top">
                      <a href="#" class="btn btn-primary">Check Out This Movie</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card text-center">
                    <div class="card-header">
                        Most Reviewed Movie
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Movie Title</h5>
                      <p class="card-text">Movie Information</p>
                      <a href="#" class="btn btn-primary">Check Out This Movie</a>
                    </div>
                  </div>
                </div>
              </div>
          <% }) %>
        </div>
    </body>
</main>
<%- include ('../partials/footer') %>